.getIt {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}


.screenshot {
    flex: 1;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    
}

.screenshot img {
    height: 80vh;
}

.desc{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description {
    flex: 1;
    display: flex;
    align-items: center;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3em;
  padding-right: 3em;
}

.qrcode, .fdroid-logo {
    display: flex;
    justify-content: center;
}

.qrcode img {
    max-width: 300px;
    height: auto;
}

.detail {
/* background-color: aquamarine; */
    margin-top: 50px;
    margin-bottom: 50px;
}


@media screen and (max-width: 480px) {
    .getIt {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .screenshot {
        align-items: center;
        justify-content: center;
    }

    .desc {
        display: flex;
        /* flex: 1; */
        margin-top: 10px;
    }
    
    .description {
        text-align: center;
    }
}
